<app-menu></app-menu>
<div class="page-padding">
  <div class="page-content">
  
      <div class="container">
        <div class="row">
         
          <div   *ngFor="let product of products; index as i" class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="product-thumb">
              <div
                id="product5795"
                class="carousel slide"
                data-ride="carousel"
                data-interval="false"
              >
              <div class="carousel-inner">
                <div class="item active">
                <figure class="figure">
                  <img
                    src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZHVjdHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    class="figure-img img-fluid rounded"
                    alt="A generic square placeholder image with rounded corners in a figure."
                  />
                </figure>
              </div>
              <div class="button-group">
                <button type="button" onclick="cart.add('5795', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
            
              </div>
                </div>
              </div>
              <div class="caption">
                <h5 id="product-caption">
                  <a
                  [href]="'/product-details/' + product.id"
                    >{{product.name}}</a
                  >
                </h5>
                <p class="price" style="margin-bottom: 0">Rs {{product.price}}</p>
              </div>
            </div>
            </div>
          </div>
        </div>
  </div>
</div>
