<app-menu></app-menu>
<div class="page-padding">
    <div class="page-content">
      <div class="content-body">
        <div class="heading-4">
          <i class="pi pi-video" style="font-size: 2rem"></i> Add Product
        </div>
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Name</label>
              <input  [(ngModel)]="form.name" type="text" class="form-control" id="exampleInputEmail1" required aria-describedby="emailHelp" name="first">
              <span *ngIf="error.name.length>0">{{error.name}}</span>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Model</label>
                <input  [(ngModel)]="form.model" type="text" class="form-control" id="exampleInputEmail1" required aria-describedby="emailHelp" name="model">
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Category</label>
                <select  class="form-control" id="exampleFormControlSelect1" [(ngModel)]="form.category" name="category">
                    <option *ngFor="let c of categories" [ngValue]="c.id">{{c.name}}</option>
                  </select>
               
              </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Price</label>
              <input  [(ngModel)]="form.price" type="number" class="form-control" id="exampleInputPassword1" name="price">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Color</label>
                <input  [(ngModel)]="form.color" type="text" class="form-control" id="exampleInputPassword1" name="color">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">is Out of Stock</label>
                <input  [(ngModel)]="form.isOutOfStock" type="checkbox" class="form-control" id="exampleInputPassword1" name="price">
              </div>
            <button (click)="formSubmit()" type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
    </div>
  </div>
  